<manifest package="com.warmwit.bierapp"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".BierAppApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true">
        
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.HomeActivity"></activity>
        <activity android:name=".activity.GuestsActivity"></activity>
        <activity android:name=".activity.TransactionActivity"></activity>
        <activity android:name=".activity.StatsActivity"></activity>
    </application>

</manifest>